app-loading([check]="db.aboutMessages.length == 0")
    app-device-check
        h3(class="sh", mat-subheader) About
        mat-card(*ngFor="let about of this.db.aboutMessages")
            mat-card-header
                mat-card-title
                    h3 {{ about.title }}
            mat-card-content
                    div([innerHTML]="about.content")