div(*ngIf="this.auth.usertype  == this.auth.users.guest;then guest else user")

ng-template(#user)
    div(*ngIf="this.auth.usertype == this.auth.users.admin;then admin else student")
    ng-template(#student)
        div(*ngIf="ws.layout == 'mobile'; then mobile else desktop")
        ng-template(#mobile)
            app-mobile
        ng-template(#desktop)
            app-desk
    ng-template(#admin)
        router-outlet
ng-template(#guest)
    router-outlet