

div(*ngIf="this.auth.usertype == null; then loading else loaded")
ng-template(#loaded)
        div(*ngIf="ws.layout == 'mobile'; then mobile else desktop")
        ng-template(#mobile)
            app-mobile
        ng-template(#desktop)
            app-desk
ng-template(#loading)
    div(class="loading")
        mat-spinner
        