div(class="container")
    mat-card(class="login")
        h1 Login
        mat-form-field
            input(matInput, type="text", placeholder="username")
        mat-form-field
            input(matInput, type="password", placeholder="password")
        button(mat-button) submit