.desktop {
    max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
    width: 100%
}

:host{
    width:100%;
}
.mobile{
    max-width: 90vw;
  
    margin: 0 auto;
}
.sh{ /* subheader */
    font-family: sans-serif;
}