
.tbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.toolbar {
    background: #2196f3
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}


.active {
    background: #eaeaea
}


.mat-list-icon{
    margin-right: 10px;
    color:#525252
}

.dmain{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.dcontent {
    background: #eaeaea;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.dcont {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 100px;
    justify-content: center;
}

div.dnews, div.dcompanies {
    width: 50%;
    padding: 10px;
    height: 100%;
}

.dsidebar {
    width: 300px;
    background: #f0f0f0
}
div.dcompanies {
    background: #e0e0e0
}
