

.mat-list-icon{
    margin-right: 10px;
    color:#525252
}

.dmain{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.dcontent {
    background: linear-gradient(to bottom, white,white, #dfdfdf);
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.dcont {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 100px;
    justify-content: center;
    padding: 15px;
    padding-bottom: 100px;
}

div.dnews, div.dcompanies {
    width: 50%;
    padding: 10px;
    height: 100%;
}

.dsidebar {
    width: 400px;
    background: #f0f0f0
}
div.dcompanies {
    background: #e0e0e0
}
