div(class="dmain")
    div(class="dtoolbar")
        mat-toolbar( class="toolbar", color="primary")
            div(class="tbar")
                div(class="row")
                    span Placement
                button(mat-raised-button, (click)="signOut()") Sign Out
    div(class="dcontent")
        div(class="dsidebar")
            app-sidebar
        
        div(class="dcont")
            router-outlet