mat-toolbar 
    div(class="tbar")
        span Student
        button(mat-raised-button, (click)="signOut()") Sign Out

ul
    li(*ngFor="let company of companies|async")
        span {{company | json }}
        button((click)="register(company.id)") register

