mat-toolbar 
    div(class="tbar")
        div(class="row")
            button(mat-icon-button)
                mat-icon menu
            span Student
        button(mat-raised-button) Sign Out

router-outlet(name="studenRoutes")

