
.tbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.toolbar {
    background: #2196f3
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}