mat-nav-list

    a(href="#", style="display:none")
    a(mat-list-item, [routerLink]="['news']", routerLinkActive="active") 
        mat-icon(mat-list-icon) format_list_bulleted
        span News
    a(mat-list-item, [routerLink]="['companies']",routerLinkActive="active") 
        mat-icon(mat-list-icon) business
        span Companies
    mat-divider
    h3(mat-subheader) More
    a(mat-list-item, [routerLink]="['about']",routerLinkActive="active") 
        mat-icon(mat-list-icon) info
        span About
    a(mat-list-item, [routerLink]="['help']",routerLinkActive="active") 
        mat-icon(mat-list-icon) help
        span Help
    a(mat-list-item, [routerLink]="['/settings']",routerLinkActive="active") 
        mat-icon(mat-list-icon) settings
        span Settings