mat-sidenav-container(class="cover")
  mat-sidenav(#d, class="drawer", mode="push")
      div(class="user primary")
      app-sidebar((click)="d.close()")
  mat-toolbar(color="primary", class="toolbar")
      div(class="tbar")
          div(class="row")
              button(mat-icon-button, (click)="d.toggle()")
                  mat-icon menu
              span Placement
          button(mat-raised-button, (click)="signOut()") Sign Out
  router-outlet