
.cover {
    height: 100vh;
    width:100vw;
    background: linear-gradient(to bottom, white,white, #919191);
}

.drawer {
    width : 300px;
    max-width: 80vw;
    background: #f0f0f0;
}



.user{
    height: 120px;
    width: 100%;
}

.mat-list-icon{
    margin-right: 10px;
    color:#525252
}