.tbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.mat-nav-list *{
    background: none;
}
.toolbar {
    background: #2196f3
}
.mat-list-item.active, .mat-list-item.active.mat-list-item-focus{
    background: #e8e8e8;
}

.active {
    box-shadow: 0 0 10px inset black;

}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.cover {
    height: 100vh;
    width:100vw;
}

.drawer {
    width : 300px;
    max-width: 80vw;
}

.user{
    height: 120px;
    width: 100%;
    background: #2196f3
}

.mat-list-icon{
    margin-right: 10px;
    color:#525252
}