mat-toolbar(class="toolbar", color="primary")
    div(class="tbar")
        div(class="row")
            button(mat-icon-button, (click)="goback()")
                  mat-icon arrow_back
            span Settings
        button(mat-raised-button, (click)="signOut()") Sign Out
        